---
Language: Cpp
BasedOnStyle: WebKit

AlignEscapedNewlines: true
AlignTrailingComments: true
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
BreakBeforeBraces: Allman
NamespaceIndentation: All
